{:deps {:aliases [:cljs]}
 :builds
 {:browser
  {:modules    {:nuid_lib {:entries [nuid.lib]}},
   :output-dir "target/browser",
   :asset-path "target/browser",
   :target     :browser},

  :node
  {:output-to   "target/node/nuid_lib.js",
   :exports-var nuid.lib/exports,
   :target      :node-library}}}
